In [5]:
# Import required libraries
import pandas as pd
import numpy as np
import glob

# main_weekly_job.py
from cleaning import run_cleaning
from analysis import (
    compare_abandoned,
    weekly_stats_by_customer_type,
    daily_stats,
    weekly_time_to_abandon,
)
from reporting import save_report

In [6]:
# Find and load all call log CSV files
files = glob.glob('recent_data/CallLogLastWeek*.csv')

# Read and concatenate all CSV files
call_reports = pd.concat((pd.read_csv(f) for f in files), ignore_index=True)

In [16]:
cleaned = run_cleaning(glob.glob('recent_data/CallLogLastWeek*.csv')[0], glob.glob('recent_data/AbandonedCallslastweekdrop*.csv')[0])

In [14]:
weekly_stats = weekly_stats_by_customer_type(cleaned.call_level_df)
weekly_stats

,week,customer_type,total_calls,answered_calls,abandoned_calls,total_talk_sec,total_ring_sec,answered_pct,abandoned_pct,avg_talk_sec,avg_ring_sec
0,2025-11-04/2025-11-10,retail,260,259,0,48076,3149,0.996154,0.0,185.621622,12.111538
1,2025-11-04/2025-11-10,trade,82,82,0,11069,681,1.000000,0.0,134.987805,8.304878
2,2025-11-11/2025-11-17,retail,1196,1189,0,205869,11398,0.994147,0.0,173.144659,9.530100
3,2025-11-11/2025-11-17,trade,363,361,0,57992,3595,0.994490,0.0,160.642659,9.903581

In [18]:
daily_stats_df = daily_stats(cleaned.call_level_df)
daily_stats_df

,week,date,day_name,total_calls,answered_calls,abandoned_calls,min_wait_sec,max_wait_sec,mode_wait_sec
0,2025-11-04/2025-11-10,2025-11-10,Monday,342,341,0,0,169,0
1,2025-11-11/2025-11-17,2025-11-11,Tuesday,302,302,0,0,128,0
2,2025-11-11/2025-11-17,2025-11-12,Wednesday,316,314,0,0,174,0
3,2025-11-11/2025-11-17,2025-11-13,Thursday,290,289,0,0,207,2
4,2025-11-11/2025-11-17,2025-11-14,Friday,253,252,0,0,142,3
5,2025-11-11/2025-11-17,2025-11-15,Saturday,242,239,0,0,104,0
6,2025-11-11/2025-11-17,2025-11-16,Sunday,156,154,0,0,174,0

In [19]:
weekly_abandon = weekly_time_to_abandon(cleaned.call_level_df)
weekly_abandon

Empty DataFrame
Columns: [week, avg_time_to_abandon_sec]
Index: []

In [20]:
aban_compare = compare_abandoned(cleaned.call_level_df, cleaned.abandoned_df)
aban_compare

,Call ID,call_start,from_number,to_number,directions,statuses,ringing_total_sec,talking_total_sec,customer_type,is_answered,...,Queue,Call Time,Caller ID,Agent,Waiting Time,Polling Attempts,Agent State,Call Time dt,waiting_sec,_merge
0,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,501 Sales Queue,2025-11-16T12:08:35,00380977248636,204 Tohill Gerard,00:01:13,0,Logged In,2025-11-16 12:08:35,73,right_only
1,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,501 Sales Queue,2025-11-12T14:49:46,012487777,204 Tohill Gerard,00:00:27,2,Logged In,2025-11-12 14:49:46,27,right_only
2,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,501 Sales Queue,2025-11-12T12:37:45,012720011,203 Amrish Sumrath,00:00:23,0,Logged Out,2025-11-12 12:37:45,23,right_only
3,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,501 Sales Queue,2025-11-10T11:06:10,014036700,208 Sales N,00:01:33,0,Logged Out,2025-11-10 11:06:10,93,right_only
4,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,501 Sales Queue,2025-11-11T15:24:48,014509017,221 Sales Pos 5,00:01:10,0,Logged In,2025-11-11 15:24:48,70,right_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,501 Sales Queue,2025-11-14T12:30:24,0899836092,217 Joe Gorman,00:00:34,2,Logged In,2025-11-14 12:30:24,34,right_only
190,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,501 Sales Queue,2025-11-12T18:55:43,0899889745,207 McEndoo Mark,00:00:26,0,Logged In,2025-11-12 18:55:43,26,right_only
191,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,501 Sales Queue,2025-11-16T12:05:08,0899899044,207 McEndoo Mark,00:00:27,1,Logged In,2025-11-16 12:05:08,27,right_only
192,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,501 Sales Queue,2025-11-11T11:11:57,anonymous,220 Collier Bernard,00:01:23,0,Logged Out,2025-11-11 11:11:57,83,right_only
193,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,501 Sales Queue,2025-11-15T17:34:34,anonymous,220 Collier Bernard,00:00:37,0,Logged Out,2025-11-15 17:34:34,37,right_only